
/* Box Properties */
.box {
    width: 90%;
    max-width: 400px;
    padding: 8px;
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: var(--material-2);
    margin-top: 24px;
}

.box > .title {
    margin-top: 12px;
    margin-bottom: 2px;
}

.box > .title > p {
    font-size: 1.6em;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.box > .hint {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    color: var(--gray);
    margin-top: 4px;
}

.box > .input {
    margin-top: -12px;
}

.box > .input > input {
    padding: 6px;
    width: 100%;
    border: 1.5px solid var(--gray-tint);
    border-radius: 3px;
    background-color: var(--gray-light);
}

.box > .button {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
}

.box > .select {
    width: 100%;
}

.box > .select > select {
    width: 100%;
    padding: 6px;
}

/* Boxes Property */

.boxes {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
}

.boxes > div {
    position: relative;
    padding: 8px;
    border-radius: 4px;
    background-color: var(--white);
    color: var(--black);
    border: 1.5px solid var(--white);
    font-size: 1.6em;
    font-weight: bold; 
    cursor: pointer;
    margin: 2px;
    box-shadow: var(--material-2);
}

.boxes > div > p {
    padding: 0;
    margin: 0;
}

/* Common Properties */

.line {
    width: 100%;
    height: 1px;
    background-color: var(--gray);
    margin: 8px 0px;
}

.select {
    border: 1px solid var(--gray-tint);
    font-size: 1.2em;
}

.text {
    width: 90%;
    max-width: 600px;
    text-align: center;
    font-size: 2.4em;
    color: var(--green-black);
    margin: 16px 0px 4px;
    font-family: 'Pacifico', cursive;
}

.highlight {
    background-color: var(--green-dark);
    color: var(--white);
    border-radius: 12px;
    padding: 3px 6px;
}

/* Modal Property */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}